body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f9;
}

h1 {
    text-align: center;
    background-color: aquamarine;
    padding: 15px;
    margin: 5px;
    border-radius: 10px 10px 10px 10px;
    color: black;
}

h2{
    text-align: center;
    padding: 15px;
    margin: 5px;
    color: black;
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px;
    margin: 2px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.inputs {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.input-group {
    display: flex;
    align-items: center;
}

.input-group label {
    margin-right: 10px;
    font-weight: bold;
}

.input-group input {
    width: 150px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-button {
    text-align: center;
    margin: 5px;
}

.login-button button {
    padding: 5px 20px; /* Ukuran kecil */
    background-color: aquamarine;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin: 0px;
}

.login-button button:hover {
    background-color: #88d4d4;
}

table th{
    padding: 5px 25px; /* Ukuran kecil */
    background-color: rgb(151, 160, 130);
    color: black;
    border: 2px;
    border-color: black;
    cursor: pointer;
    font-size: 14px;
    margin: 0px;
}